In [1]:
# creating tuple
t=(50,40,82,41,52,63,75,65,85)
type(t)

tuple

In [8]:
# converting TUple To List
var=list(t)
var

[50, 40, 82, 41, 52, 63, 75, 65, 85]

In [9]:
type(var)

list

In [5]:
# converting List To Tuples to
var1=tuple(var)
var1

(50, 40, 82, 41, 52, 63, 75, 65, 85)

In [10]:
type(var1)

tuple

In [11]:
# using length function for counting the number of
len(t)

9

In [49]:
# can also mix the objects types into the tuple types
u=("one","type",52.32,56.0,41.23,584.001,85,82,85,85,85,85,85)
u

('one', 'type', 52.32, 56.0, 41.23, 584.001, 85, 82, 85, 85, 85, 85, 85)

In [50]:
# indexing & Slicing functions
a=u[2:6:2]
a

(52.32, 41.23)

In [51]:
a=u[-3]
a

85

In [52]:
# count method is used to count the particular data in the list that how many times it is repeated

u.count("type")

1

In [54]:
u.count(85)

6

In [57]:
# find the index number with the data from tuple or list
u.index(85)
u.index(82)
u.index("type")

1

In [60]:
# as tuples are immutable
u[2]="change"

TypeError: 'tuple' object does not support item assignment

In [72]:
var2=list(u)
var2

['one', 'type', 52.32, 56.0, 41.23, 584.001, 85, 82, 85, 85, 85, 85, 85]

In [73]:
var2[2]="change",21,34,89
var2

['one',
 'type',
 ('change', 21, 34, 89),
 56.0,
 41.23,
 584.001,
 85,
 82,
 85,
 85,
 85,
 85,
 85]

In [74]:
u.append="you"

AttributeError: 'tuple' object has no attribute 'append'

In [2]:
var3=[52,63,4,2,5,4,65,5,6,21,3,41,5,41,65,41,5,1,32,3,2,1,21,2,1,2,52.32]
var3

[52,
 63,
 4,
 2,
 5,
 4,
 65,
 5,
 6,
 21,
 3,
 41,
 5,
 41,
 65,
 41,
 5,
 1,
 32,
 3,
 2,
 1,
 21,
 2,
 1,
 2,
 52.32]

In [3]:
type(var3)

list

In [4]:
var3.append("shubham")
var3

[52,
 63,
 4,
 2,
 5,
 4,
 65,
 5,
 6,
 21,
 3,
 41,
 5,
 41,
 65,
 41,
 5,
 1,
 32,
 3,
 2,
 1,
 21,
 2,
 1,
 2,
 52.32,
 'shubham']

In [7]:
var3.count(3)

2